ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1440px;
}
img {
  display: block;
}
/* Header */
header {
  border-bottom: 1px solid #e7e9fc;
}
.header-logo-item {
  color: #2e2f42;
}
.header-container {
  display: flex;
  align-items: center;

  margin: 0 auto;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-link {
  font: 700 18px / 1.17 "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-left: 156px;
  text-align: center;
  gap: 0px;
  padding: 24px 0;
  display: block;
  margin-right: 76px;
}
.header-menu-link {
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.header-menu-list {
  color: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin: auto;
  padding-left: 76px;
}
.header-menu-item {
}
/* --------------contacts */
.contacts {
  font-style: normal;
}
.contacts-link {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts-link {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
.contacts-list {
  display: flex;
  gap: 40px;
  padding-right: 114px;
  padding-left: 304px;
  align-items: center;
}
/* Main */
.section-one-head {
  font: 700 56px / 1.07 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  padding-top: 191px;
  padding-bottom: 51px;

  margin: 0 auto;
}
.section-one {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
}
.section-accent {
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 182px;
}
.button {
  display: flex;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
}
.section-accent:hover,
.section-accent:focus {
  background-color: #404bbf;
  color: #404bbf;
}
/* Solution list */
.element,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.solution {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 168px;
  padding-right: 144px;
  align-items: flex-start;
}
.solution-list {
  display: flex;
  gap: 24px;
}
.solution-item {
  width: calc((100% - 3 * 24px) / 4);
}
.solution-head {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.solution-text {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/* ---------------- */
/* Our team */
.ourteam {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  display: block;
}
.ourteam-title {
  font: 700 36px / 1.11 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 72px;
  margin: 0 auto;
}
.ourteam-list {
  display: flex;
  padding-left: 156px;
  padding-bottom: 120px;
  padding-right: 156px;
  gap: 24px;
}
.ourteam-item {
  background-color: #ffffff;
}
.ourteam-image {
}
.ourteam-subtitle {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
}
.ourteam-text {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 32px;
}
/* ----------- */
/* --------Our portfolio------- */
/* .container-box {
  width: 1440px;
} */
.section-portfolio {
  background-color: #ffffff;
  padding-left: 156px;

  align-items: center;
}
.section-portfolio-title {
  font: 700 36px / 1.11 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-bottom: 71px;
  margin: 0 auto;
  padding-top: 120px;
}
.container-subtitle {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-list {
  width: 1128px;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
}
.container-text {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
}
.container-item {
}
.container-list {
  background-color: #ffffff;
}
.container-item {
  background-color: #ffffff;
}

/* --------------- */

/* -------------Footer */
.footer {
  background: #2e2f42;
  width: 1440px;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-link {
  font: 700 18px / 1.17 "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-item {
  font: 700 18px / 1.17 "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
/* .footer-logo-text {
  width: 264px;
  height: 112px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
  justify-content: flex-start;
  display: flex;
} */
.footer-text {
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  width: 264px;

  align-items: flex-start;
}
/* --------------- */
/* -----------------Container---------------- */
